body{
    color: #283747;
    font-family: 'Arial';
    text-align: center;
}

canvas{
    border: solid #283747 5px;
    border-radius: 5px;
    margin-top: -20px;
}

#imgSnake{
    width: 10%;
    height: 10%;
}

#title{
    margin-top: -50px;
}